@charset "utf-8";
/* CSS Document */

.margin{width: 998px;margin: 0 auto;}
.margin2{width: 998px;display: flex;margin: 0 auto;background:#fff;position: relative;border:#e8e8e8 6px solid;}


header{height:112px;background: #f2f2f2;}
header img{margin:10px 50px 0 40px;border-left:#e0e0e0 1px solid;}
header b{font:24px/80px "";color:#333;margin-left:10px;}

main{background: #f2f2f2;}
main .left{padding-top:6px;display: flex;flex-direction: column;margin-bottom:120px;}
main .left .l-t{height:184px;}
main .left .l-t img{width:152px;height:152px;margin-left:128px;margin-top:28px;}
main .left .l-m{}
main .left .l-m p{font:18px/26px "";color:red;text-indent: 88px;}
main .left .l-b p{font:12px/15px "";color:#333;text-indent: 38px;}
main .right{margin-left:100px;padding-top:10px;}
main .right p{font:16px/66px "";color:#333;text-align:center;}
main .right b{display: block;font:12px/18px "";color:#999}
main .right b.te{margin-top:30px;}
main .right input{width:305px;height:32px;border:#ccc 1px solid;color:#999;text-indent: 2px;}
main .right input.pass{}
main .right input#btn{width:307px;height:34px;margin-top:40px;background:#e2393c;color:#fff;text-align:center;font:16px/34px "";}
main .right p.p2{text-align:left;}
/* forget */
#forget{position: relative;}
#forget a{display: inline-block;width:120px;font:14px/32px "";color:#fff;text-align: center;margin-right:20px;background:#7cbe56;position: absolute;top:2px;}
#forget a:first-child{right:160px;}
#forget a:last-child{right:20px;}

/* footer */
footer {text-align: center;background: #f2f2f2;padding-top:80px;}
footer p{font:12px/30px "";}
footer p a{color:#666;}
footer p a:hover{color:red;border-bottom:red 1px solid;}







