/* CSS Document */
.margin {
  width: 1210px;
  margin: 0 auto; }

.bg {
  background: url(../images/bg.png) no-repeat; }

/* top */
#top {
  height: 30px;
  background: #f7f7f7;
  border-bottom: #eee 1px solid; }
  #top h3 {
    float: left;
    height: 30px;
    font: 700 20px/30px "";
    color: #666; }
  #top p {
    float: right;
    height: 30px;
    font: 12px/30px "";
    color: #666; }
    #top p a:hover {
      color: cornflowerblue;
      border-bottom: cornflowerblue 1px solid; }
    #top p span {
      margin: 0 5px; }
    #top p.p2 {
      display: none; }

/* header */
header {
  height: 90px;
  display: flex; }
  header .logo {
    margin-top: 6px; }
    header .logo a {
      display: block; }
  header .search {
    margin-left: 12px;
    width: 630px; }
    header .search form {
      margin-top: 19px; }
    header .search .txt {
      float: left;
      width: 546px;
      height: 30px;
      text-align: 5px;
      color: #666;
      border: #356acb 3px solid;
      border-right: 0; }
    header .search .sub {
      float: left;
      width: 81px;
      height: 36px;
      background: #356acb;
      font: 700 14px/36px "";
      color: #fff;
      border: 0; }
    header .search p {
      font: 12px/26px "";
      color: #999; }
      header .search p a {
        color: #999; }
        header .search p a:hover {
          color: cornflowerblue;
          border-bottom: cornflowerblue 1px solid; }
  header .add {
    margin-left: 70px;
    display: flex; }
    header .add dl {
      position: relative; }
      header .add dl dt {
        width: 118px;
        height: 30px;
        background: #f7f7f7;
        border: #efefef 1px solid;
        font: 12px/30px "";
        color: #666;
        margin-top: 22px; }
        header .add dl dt i {
          display: inline-block;
          vertical-align: middle; }
        header .add dl dt a:hover {
          color: cornflowerblue;
          border-bottom: cornflowerblue 1px solid; }
      header .add dl.left {
        margin-right: 3px; }
        header .add dl.left dt i.my {
          width: 20px;
          height: 17px;
          background-position: -121px -30px;
          margin-left: 7px; }
        header .add dl.left dt i.xia {
          width: 7px;
          height: 4px;
          background-position: -95px -55px;
          margin-left: 7px; }
        header .add dl.left dd {
          width: 310px;
          border: 1px solid #E3E3E3;
          position: absolute;
          top: 54px;
          right: 0;
          display: none;
          background: #fff; }
          header .add dl.left dd p {
            font: 14px/30px "";
            text-indent: 6px;
            color: #666;
            border-bottom: #efefef 1px solid; }
          header .add dl.left dd .bot {
            display: flex; }
            header .add dl.left dd .bot ul li {
              font: 12px/28px "";
              width: 154px;
              text-indent: 4px; }
              header .add dl.left dd .bot ul li a {
                color: cornflowerblue;
                margin-left: 12px; }
                header .add dl.left dd .bot ul li a:hover {
                  display: inline-block;
                  color: red;
                  width: 100px;
                  background: #f7f7f7; }
            header .add dl.left dd .bot .line {
              width: 1px;
              height: 73px;
              background: #efefef;
              margin-top: 4px; }
      header .add dl.right dt {
        position: relative; }
        header .add dl.right dt i.che {
          width: 20px;
          height: 17px;
          background-position: -121px -90px;
          margin: 0 13px 0 6px; }
        header .add dl.right dt em {
          display: inline-block;
          line-height: 20px;
          text-align: center;
          width: 20px;
          height: 20px;
          background: #356acb;
          border-radius: 50%;
          color: #fff;
          position: absolute;
          top: -12px;
          right: 80px; }
        header .add dl.right dt i.rig {
          width: 6px;
          height: 9px;
          background-position: -110px -45px;
          margin-left: 17px; }
      header .add dl.right dd {
        width: 350px;
        height: 71px;
        position: absolute;
        top: 54px;
        right: 0;
        display: none;
        border: 1px solid #E3E3E3;
        background: #fff; }
        header .add dl.right dd i {
          display: inline-block;
          vertical-align: middle;
          width: 57px;
          height: 49px;
          background-position: 0 0;
          margin-left: 20px; }
        header .add dl.right dd span {
          display: inline-block;
          font: 16px/71px "";
          color: #ccc; }

/* nav */
nav {
  height: 40px;
  background: #356acb;
  display: flex; }
  nav dl {
    text-indent: 15px;
    width: 210px; }
    nav dl dt {
      color: #fff;
      font: 16px/40px ""; }
    nav dl dd {
      display: none;
      font: 12px/31px "";
      border: #356acb 2px solid;
      border-top: 0;
      border-bottom: #fff 2px solid;
      background: #fafafa;
      position: relative; }
      nav dl dd:last-child {
        border-bottom: #356acb 2px solid; }
      nav dl dd a {
        color: #333; }
        nav dl dd a:hover {
          font-weight: 700;
          color: blue;
          border-bottom: blue 1px solid; }
      nav dl dd i.bg {
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 9px;
        background-position: -110px -45px;
        margin-left: 145px; }
      nav dl dd .box {
        display: none;
        width: 600px;
        padding-left: 35px;
        box-shadow: 0 0 5px #999;
        position: absolute;
        top: 0;
        left: 195px;
        background: #fff;
        z-index: 99; }
        nav dl dd .box p {
          font: 12px/38px ""; }
          nav dl dd .box p:last-child {
            margin-bottom: 20px; }
          nav dl dd .box p a {
            color: #999; }
            nav dl dd .box p a:first-child {
              font-weight: 700;
              color: blue;
              border-bottom: blue 1px solid; }
            nav dl dd .box p a:hover {
              color: cornflowerblue;
              border-bottom: cornflowerblue 1px solid; }
          nav dl dd .box p span {
            color: #cecfce;
            margin: 0 3px; }
  nav ul {
    display: flex; }
    nav ul li {
      font: 16px/40px ""; }
      nav ul li a {
        display: inline-block;
        color: #fff;
        padding: 0 25px; }
        nav ul li a:hover {
          background: #213574; }
